#main_body {
	font-family: Times New Roman, Serif, Arial;
	margin-top: 18px;
	margin: 0px auto;
	text-align: justify;
	font-size: 16px;
	background-color: #FFFFFF;
	width: 60%;
}

#header_image {
	width: 200px;
	height: 176px;
	float: left;
	margin: 10px 5px 5px 10px;
}

li {
	margin: 0 0 6px 0;
}

.li2 {
	margin: 0 0 0 0;
}

.item_name {
	clear: none;
	font-size: 20px;
	font-family: "arial", Times, serif;
	font-weight: bold;
	color: #3D3D3D;
	margin: 10px 10px 10px 0px;
}

.item_sub_name {
	clear: none;
	font-size: 15px;
	font-family: "arial", Times, serif;
	font-weight: bold;
	color: #3D3D3D;
	margin: 10px 10px 10px 0px;
}

.item_content {
	font-size: 16px;
	margin: 10px 10px 10px 10px;
}

.paper_title {
	font-weight: 500;
	font-style: italic;
}

a:link {
	color: #0000FF;
	text-decoration: none; 
}

a:visited {
	color: #0000FF; 
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
